<div>
  <tabset>
    <tab heading="List">
      <br/>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        <input type="text" class="form-control" ng-model="searchCriteria" placeholder="Search text here..."></input>
      </div>
      <br/>
      <p>Showing <span class="highlighted">{{entries.length}}</span> posts |
        <a ng-click="refreshFeed(50)">50</a> |
        <a ng-click="refreshFeed(100)">100</a> |
        <a ng-click="refreshFeed(200)">200</a>
        <a class="pull-right" ng-click="toggleOpenAll()" tooltip="{{tooltipText}}">{{openOrClose}} all</a>
      </p>
      <accordion close-others="!openAll">
        <accordion-group ng-repeat="entry in entries | filter:searchCriteria" heading="{{entry.title}}"
              is-open="openAll" >
           <accordion-heading>
             <span ng-bind-html="entry.title | highlight:searchCriteria">{{entry.title}}</span>
             <i class="glyphicon glyphicon-chevron-down pull-right"></i>
           </accordion-heading>
           <div class="col-sm-3 hidden-xs">
            <img class="pull-left" src="{{entry.thumbUrl}}" err-src="{{errUrl}}"></img>
          </div>
          <div class="col-sm-9 col-xs-12">
            <img class="center visible-xs" src="{{entry.thumbUrl}}" err-src="">
            <p class="text-justify" ng-bind-html="entry.content | highlight:searchCriteria">{{entry.content}}</p>
            <p>Reply to:&nbsp;<a id="email" href="mailto:{{entry.mail}}">{{entry.mail}}&nbsp;</a>
              <a class="no-link" ng-href="{{entry.link}}"><i class="clipboard glyphicon glyphicon-share"></i></a>
            </p>
          </div>
        </accordion-group>
      </accordion>
      <p>Showing <span class="highlighted">{{entries.length}}</span> posts |
        <a ng-click="refreshFeed(entries.length + 50)">Load more</a>
      </p>
    </tab>
    <tab heading="Post item">
      <br/>
      <p>Haven't done this part yet...</p>
    </tab>
  </tabset>

</div>
